* {
    font-family: 'Amaranth', sans serif;
    margin: 0;
    padding: 0;
}
body {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 11vh 57vh 23vh 4.8vh;
    row-gap: 1vh;
}

header {
    background-color: #e9dcd1;
    width: auto;
}
main {
    background-color: #d2baa5;
    width: auto;
}
section {
    background-color: #e9dcd1;
    width: auto;
}
footer {
    background-color: #e9dcd1;
    width: auto;
}
